configs:
    secret:
        createSecret: true
        argocdServerAdminPassword: $2y$12$7X3L6y8gMEBYweqP8pNxk.YL1OZbPHwjuE1zXyxusBj67Ddq9w9ym
        argocdServerAdminPasswordMtime: "2021-05-01T10:11:12Z"
        extra:
            LDAP_HOST: ldap.company.com:636
            LDAP_BIND_DN: cn=bindusername,dc=company,dc=de
            LDAP_BIND_PW: yourSecretPwd