
apiVersion: v1
kind: Secret
metadata:
  name: vault-approle-credentials
  namespace: argocd
type: Opaque
stringData:
  roleid: fb9edb0c-xxxx-xxxx-xxxx-xxxxxxxxxxxx
  secretid: e8110edf-xxxx-xxxx-xxxx-xxxxxxxxxxxx
